@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>Photo by asoggetti on Unsplash</p>
<p>Photo by Alora Griffiths on Unsplash</p>
<p>Photo by Mikita Karasiou on Unsplash</p>